@use "./reset";
@use "./variables" as *;
@use "./fonts";
@use "./page-transitions";
@use "./other";

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}

@layer base {
    h1 {
        line-height: normal;
    }
    
    a {
        color: var(--color-primary);
        text-decoration: none;
    }
}


@layer components {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;

        @media (min-width: $mobileBreakpoint) {
            max-width: $mobileBreakpoint;
        }

        @media (min-width: $tabletBreakpoint) {
            max-width: $tabletBreakpoint;
        }

        @media (min-width: $laptopBreakpoint) {
            max-width: $laptopBreakpoint;
        }

        @media (min-width: $desktopBreakpoint) {
            max-width: $desktopBreakpoint;
        }
    }
}

@layer utilities {
    
}