@use "./fonts";

$mobileBreakpoint: 600px;
$tabletBreakpoint: 960px;
$laptopBreakpoint: 1264px;
$desktopBreakpoint: 1800px;

:root {
    // Palettes
    --color-lime-50: hsl(0 0% 100%);
    --color-lime-100: hsl(82 85% 89%);
    --color-lime-200: hsl(81 84% 78%);
    --color-lime-300: hsl(81 84% 67%);
    --color-lime-400: hsl(81 84% 56%);
    --color-lime-500: hsl(81 65% 43%);
    --color-lime-600: hsl(81 62% 30%);
    --color-lime-700: hsl(82 58% 17%);
    --color-lime-800: hsl(80 16% 4%);

    --color-carbon-50: hsl(60 1% 86%);
    --color-carbon-100: hsl(60 2% 68%);
    --color-carbon-200: hsl(75 2% 51%);
    --color-carbon-300: hsl(77 5% 30%);
    --color-carbon-400: hsl(75 15% 10%);
    --color-carbon-500: hsl(69 16% 8%);
    --color-carbon-600: hsl(70 17% 7%);
    --color-carbon-700: hsl(72 16% 6%);
    --color-carbon-800: hsl(75 18% 4%);

    
    --color-primary: var(--color-lime-400);
    
    --color-background-primary: var(--color-carbon-800);
    
    --color-text-primary: white;
    --color-text-secondary: black;
}

//:root[data-theme="light"] {
//
//}
//
//:root[data-theme="dark"] {
//
//}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--color-background-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

h1 {
    line-height: normal;
}












// reset
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}





// transition

.page-enter-active,
.page-leave-active { transition: opacity .28s ease, transform .28s ease; }
.page-enter-from,
.page-leave-to { opacity: 0; transform: translateY(8px); }








.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-to, .fade-leave-from {
    opacity: 1;
}









.mobile-menu-anim-enter-active, .mobile-menu-anim-leave-active {
    transition: 0.3s ease;
}

.mobile-menu-anim-enter-from, .mobile-menu-anim-leave-to {
    //opacity: 0;
    transform: translateX(100%);
}

.mobile-menu-anim-enter-to, .mobile-menu-anim-leave-from {
    transform: translateX(0%);
    //opacity: 1;
}

/* respektovani preferenci snizene animace */
@media (prefers-reduced-motion: reduce) {
    .collab-popup-fade-enter-active, .collab-popup-fade-leave-active { transition: none; }
}






#error-page {
    min-height: 100vh;

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .logo {
        //mask-image: url('../public/images/mylogo.svg');
        //-webkit-mask-image: url('../public/images/mylogo.svg');
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        width: 10vw;
        height: 10vw;
        margin: 0 auto;
        position: relative;
        animation: spin 4s ease infinite;
        margin-bottom: 32px;
    }
    .logo::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--accent-color);
    }

    h1 { font-family: "leaguespartan", "Arial Black", sans-serif; font-size: 3vw; color: var(--text-color); }
    .desc { font-size: 16px; margin: 0; color: var(--text-color-lighter); }

    .btn {
        font-size: 16px;
        margin: 0 auto;
        margin-top: 32px;
        padding: 16px 64px;
        background-color: var(--accent-color);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        color: #fff;
        transition: filter .3s ease;
    }
    .btn:hover { filter: brightness(0.9); }

    /* animace */
    @keyframes spin { to { transform: rotate(360deg); } }

    /* mobil */
    @media (max-width: 600px) {
        .logo { width: 50vw; height: 50vw; }
        h1 { font-size: 10vw; }
    }
}






.grecaptcha-badge {
    visibility: hidden !important;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}