@use "./reset";
@use "./variables" as *;
@use "./fonts";
@use "./page-transitions";
@use "./other";

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 23.03px;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-track {
    background: transparent;
    border:0;
    box-shadow: none;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: var(--color-carbon-400);
    border-radius: 16.67px;
    border: 0;
    transition-duration: 0.3s;
}

@layer base {
    h1 {
        line-height: normal;
    }
    
    a {
        color: var(--color-primary);
        text-decoration: none;
    }
}


@layer components {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;

        @media (min-width: $mobileBreakpoint) {
            max-width: $mobileBreakpoint;
        }

        @media (min-width: $tabletBreakpoint) {
            max-width: $tabletBreakpoint;
        }

        @media (min-width: $laptopBreakpoint) {
            max-width: $laptopBreakpoint;
        }

        @media (min-width: $desktopBreakpoint) {
            max-width: $desktopBreakpoint;
        }
    }
}

@layer utilities {
    // Screen reader only (for SEO)
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}