@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}